*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(94, 94, 94);
  color: rgb(231, 231, 231);
  text-align: center;
  display: flex;
  justify-content: center;
}
body._light{
  background-color: azure;
}
#button{
  margin: 50px auto ;
  width: 100px;
  height: 40px;
  background-color: rgb(220, 255, 255);
  font-size: 20px;
  border-radius: 8px;
  outline: none;
  display: block;
}
#input{
  padding-left: 10px;
  width: 300px;
  height: 50px;
  border-radius: 8px;
  margin: 50px;
  display: block;
}
.container {
  padding: 0 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container._dark{
  background-color: #22222a;
}
